/*aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  background-color: red;
}*/


.aside_body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 5px;
    margin-right: 5px;
    float: right;
}

.aside_section
{
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 25px;
}

.aside_div {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    text-align: center;

}
.aside_img
{
    display: block;
    max-width: 90%;
    height: auto;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;


}

.aside_p
{
    margin: 7px;
    text-align: center;

}

.aside_a:hover
{
    color: white;
}

.button
{
    background-color: #212325;
    color: whitesmoke;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;

}
