@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

#body{
  background-color: #000000;
  font-family: 'Otomanopee One', sans-serif;
  overflow-x: hidden; //horizontal
  overflow-y: scroll; //vertical
}

h1{
  color: white;
}

#main {

}
